:root {
    --primary-color: #112d4e;
    --secondary-color: #fff;
    --accent-color: #ccc;
    --font-family-base: 'Montserrat', sans-serif;
    --font-family-brand: 'Cinzel', serif;
    --font-family-heading: 'Dosis', sans-serif;
    --padding-default: 20px;
    --transition-speed: 0.3s;
}

/* Global Styles and Resets */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base);
}

/* Navbar Styles */
.navbar {
    background-color:  #112d4e;
    color: var(--secondary-color);
    padding: 0rem 2rem;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 4.5rem;
}

.navbar .brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--font-family-brand);
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.1rem;
}

.navbar .nav-links li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.navbar .right-section {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar .nav-icon {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 400;
}

.navbar .nav-icon i {
    font-size: 1.2rem;
}

.navbar .nav-icon:hover {
    color: var(--accent-color);
}

.search__container {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 0.1rem 0.8rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    background-color: #f9f9f9;
    max-width: 150px;
    margin: 0;
    position: relative;
}

.search__icon {
    font-size: 1rem;
    color: black;
    margin-right: 0.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.search__input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0.3rem;
    font-size: 0.9rem;
    background-color: transparent;
    width: 0;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
}

/* Nav Bar Hover Underline Animation */
.nav-links li {
    display: inline-block;
    position: relative;
    margin-right: 20px; /* Adjust as needed */
}

.nav-links li a {
    text-decoration: none;
    color: #000; /* Adjust the text color as needed */
    padding-bottom: 5px; /* Adjust as needed */
    display: inline-block;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: white; /* Color of the underline */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.nav-links li a:hover::after {
    width: 100%;
}

/* Hover and focus styles */
.search__container:hover, .search__input:focus {
    border-color: rgb(0, 0, 0);
    background-color: white;
}

.search__container:hover .search__icon, .search__input:focus + .search__icon {
    color: rgb(0, 0, 0);
    transform: rotate(90deg);
}

.search__container:hover .search__input, .search__input:focus {
    width: 100px;
    opacity: 1;
}

/* Slideshow Styles */
.slider-container {
    width: calc(100% - 100px); /* full width minus 50px margins on each side */
    height: 75vh; /* 75% of the viewport height */
    background-image: url('Images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* center the container */
    padding-left: 50px; /* left margin */
    padding-right: 50px; /* right margin */
}

.slider-images {
    display: flex;
    align-items: center;
    gap: 21px;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.slider-img {
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
    height: 360px; /* reduced by 1/4 from 480px */
}

.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6) {
    height: 420px; /* reduced by 1/4 from 560px */
}

.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5) {
    height: 500px; /* reduced by 1/4 from 665px */
}

h1 {
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}

.details {
    position: absolute;
    bottom: 43px;
    left: 43px;
}

.details h2 {
    font-family: "Jost", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.details p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.slider-img.active {
    width: 766px !important;
    height: 563px !important; /* reduced by 1/4 from 750px */
}

.slider-img.active h1 {
    display: none;
}

.slider-img.active .details p, .slider-img.active .details h2 {
    display: block;
}


/*categories*/

.category-container{
    display: grid;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #112d4e;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.category img { 
    width: 300px;
    height: 200px;
    object-fit: fill;
}

.category span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #000000;
    padding: 5px 10px;
    font-size: 1.4em;
    font-family: 'Krona One', sans-serif;;
}

.category.men {
    grid-column: 1 / 3;
    grid-row: 1;
}

.category.women {
    grid-column: 3;
    grid-row: 1;
}

.category.kids {
    grid-column: 4;
    grid-row: 1;
}

.category.personal-care {
    grid-column: 1;
    grid-row: 2;
}

.category.home-deco {
    grid-column: 2;
    grid-row: 2;
}

.category.accessories {
    grid-column: 3 / 5;
    grid-row: 2;
}


/* FEEDBACK CARDS */
.feedback {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .feedback-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  
  .feedback-container {
    padding: 3vw 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .feedback-container::-webkit-scrollbar {
    display: none;
  }
  
  .feedback-card {
    flex: 0 0 auto;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin-right: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .feedback-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .feedback-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .feedback-info {
    width: 100%;
    height: 200px;
    padding: 20px;
  }
  
  .feedback-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    width: 250px;
  }
  
  .feedback-author {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .feedback-author span {
    font-size: 16px;
    color: #666;
  }

  
  .feedback-card:hover .fdb-btn {
    opacity: 1;
  }
  
  .pre-fdb-btn,
  .nxt-fdb-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-fdb-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-fdb-btn {
    right: 0;
  }
  
  .pre-fdb-btn img,
  .nxt-fdb-btn img {
    opacity: 0.2;
  }
  
  .pre-fdb-btn:hover img,
  .nxt-fdb-btn:hover img {
    opacity: 1;
  }

.brand-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #fff;
  }
  
.brand-logos img {
    margin: 0 20px;
    max-height: 100px;
    object-fit: contain;
  }