/* Secondary Navigation Bar */
.secondary-navbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  .nav-links1 {
    list-style: none;
    display: flex;
    gap: 2rem; /* Adjust gap between links */
  }
  .nav-links1 li {
    display: inline-block;
    position: relative;
  }
  .nav-links1 li a {
    text-decoration: none;
    color: #555555; /* Text color similar to the image */
    font-size: 20px; /* Adjust font size */
    font-weight: 400; /* Adjust font weight */
    padding: 10px 20px; /* Adjust padding for button-like appearance */
    border: 1px solid #CCCCCC; /* Border color */
    border-radius: 10px; /* Rounded corners */
    display: inline-block;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: 'Inter', sans-serif;
  }
  /* Hover Underline Animation */
  .nav-links1 li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000000; /* Underline color */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
  }
  .nav-links1 li a:hover::after {
    width: 100%;
  }
  .nav-links1 li a:hover {
    background-color: #F0F0F0; /* Background color on hover */
    color: #000000; /* Text color on hover */
  }
  /* Hover Underline Animation */
  .nav-links1 li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000000; /* Underline color */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-links1 li a:hover::after {
    width: 100%;
  }
  /* CSS Variables */
  :root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: #ccc;
    --font-family-base: 'Montserrat', sans-serif;
    --font-family-brand: 'Cinzel', serif;
    --font-family-heading: 'Dosis', sans-serif;
    --padding-default: 20px;
    --transition-speed: 0.3s;
  }
  
  
  /* Global Styles and Resets */
  body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base);
  }
  
  /* Navbar Styles */
  .navbar {
    background-color:  #112d4e;
    color: var(--secondary-color);
    padding: 0rem 2rem;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-section {
    display: flex;
    align-items: center;
    gap: 4.5rem;
  }
  
  .navbar .brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--font-family-brand);
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.1rem;
  }
  
  .navbar .nav-links li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }
  
  .navbar .right-section {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .navbar .nav-icon {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 400;
  }
  
  .navbar .nav-icon i {
    font-size: 1.2rem;
  }
  
  .navbar .nav-icon:hover {
    color: var(--accent-color);
  }
  
  .search__container {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 0.1rem 0.8rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    background-color: #f9f9f9;
    max-width: 150px;
    margin: 0;
    position: relative;
  }
  
  .search__icon {
    font-size: 1rem;
    color: black;
    margin-right: 0.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .search__input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0.3rem;
    font-size: 0.9rem;
    background-color: transparent;
    width: 0;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
  }
  
  /* Nav Bar Hover Underline Animation */
  .nav-links li {
    display: inline-block;
    position: relative;
    margin-right: 20px; /* Adjust as needed */
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000; /* Adjust the text color as needed */
    padding-bottom: 5px; /* Adjust as needed */
    display: inline-block;
  }
  
  .nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: white; /* Color of the underline */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-links li a:hover::after {
    width: 100%;
  }
  
  
  /* Hover and focus styles */
  .search__container:hover, .search__input:focus {
    border-color: rgb(0, 0, 0);
    background-color: white;
  }
  
  .search__container:hover .search__icon, .search__input:focus + .search__icon {
    color: rgb(0, 0, 0);
    transform: rotate(90deg);
  }
  
  .search__container:hover .search__input, .search__input:focus {
    width: 100px;
    opacity: 1;
  }
  
  /* Mobile-friendly styles */
  @media (max-width: 768px) {
    .search__container {
        max-width: 100%;
    }
  }
  
  
  /* Scroll-to-top button */
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 10%;
    cursor: pointer;
    display: none;
    transition: opacity var(--transition-speed);
    z-index: 1000;
  }
  
  .scroll-to-top.visible {
    display: block;
    opacity: 0.7;
  }
  
  .scroll-to-top:hover {
    opacity: 1;
  }
  
  
  
  /* Main Content Styling */
  .main-content {
    padding-top: 50px;
    align-items: center;
  }
  
  
  .open-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vh; /* This makes the div take up the full height of the viewport */
  }
  
  .open-text h1 {
    font-size: 2em;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    color: #112D4E;
  }
  .open-text p {
    font-size: 1em; 
    font-family: 'Inter', sans-serif;
    color: #112D4E;
    margin-top: 10px; 
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
  }
    
  /* Products */
  .products-container {
    padding: 0 10px;
  }
  
  .product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -20px; /* Reduced margin for better alignment */
  }
  
  .col-md-3,
  .col-sm-6 {
  padding: 10px;
  flex: 1 1 21%;
  box-sizing: border-box;
  }
  
  
  .product-item {
    background-color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .product-item.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  .product-img-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .product-img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
  }
  
  .product-img.secondary {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    z-index: 1;
  }
  
  .product-info {
    padding: 15px;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }
  
  .product-info h5 {
    font-size: 18px; /* Larger font size for product names */
    margin-bottom: 5px;
    color: var(--primary-color); /* Black text for product names */
    color: #112D4E;
  }
  
  .product-info p {
    font-size: px;
    color: #666; /* Slightly lighter color for product descriptions */
    color: #112D4E;
  }
  
  .add-to-cart {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 12px;
    border-radius: 10%;
    display: none;
    cursor: pointer;
    z-index: 2;
  }
  
  .product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
  
  .product-item:hover .product-img.primary {
    transform: translateX(-100%);
  }
  
  .product-item:hover .product-img.secondary {
    transform: translateX(0%);
  }
  
  .product-item:hover .add-to-cart {
    display: block;
  }
  .popup-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }
  
  .popup-notification.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup-icon {
    width: 50px;
    margin-bottom: 15px;
  }
  
  .popup-notification h3 {
    margin: 10px 0;
    font-size: 20px;
    color: #112D4E;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }
  
  .popup-notification p {
    margin: 5px 0;
    font-size: 16px;
    color: #112D4E;
    font-family: 'Inter', sans-serif;
  }
  
  
  /* Adjustments for small screens */
  @media (max-width: 991.98px) {
    .filters {
        position: static;
        padding-bottom: 20px;
        border: none;
        border-radius: 0;
        margin-left: 0;
    }
  
    .products-container {
        padding-left: 0;
        padding-right: 0;
    }
  
    .product-item {
        flex: 0 0 45%; /* Two cards per row on medium screens */
        max-width: 45%;
        margin: 5px; /* Reduced margin for better alignment */
    }
  }
  
  @media (max-width: 576px) {
    .product-item {
        flex: 0 0 100%; /* One card per row on small screens */
        max-width: 100%;
        margin: 5px; /* Reduced margin for better alignment */
    }
  }
  
  .brand-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #fff;
  }
  
  .brand-logos img {
    margin: 0 20px;
    max-height: 100px;
    object-fit: contain;
  }
  /* Footer styles */
  .footer {
    background-color: #112d4e; 
    color: #dbe2ef;
    padding: 30px 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .footer-section {
    max-width: 300px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
  }
  
  .footer-section h2 {
    margin-bottom: 10px;
    color: #dbe2ef;
    font-family: 'Krona One', sans-serif;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #dbe2ef;
    text-decoration: none;
  }
  
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #dbe2ef;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .social-icons a:hover {
    color: #f0f0f0;
  }
  
  .footer-bottom p {
    margin: 0;
  }